@page "/nutrition-data-view"


<div>
    <label for="date-meal-select">Select date and meal:</label>
    <select name="date-meal-select" id="date-meal-select" @bind="selectedDateRangeAndMealType">
        <!-- Single Day -->
        <option value="single-day-breakfast">Single day, breakfast</option>
        <option value="single-day-lunch">Single day, lunch</option>
        <option value="single-day-dinner">Single day, dinner</option>
        <option value="single-day-snacks">Single day, snacks</option>
        <option value="single-day-all-meals">@singleDayAllMeals</option>

        <!-- Date Range -->
        <option value="date-range-breakfast">@dateRangeBreakfast</option>
        <option value="date-range-lunch">@dateRangeLunch</option>
        <option value="date-range-dinner">@dateRangeDinner</option>
        <option value="date-range-snacks">@dateRangeSnacks</option>
        <option value="date-range-all-meals">@dateRangeAllMeals</option>

        <!-- Month Select -->
        <option value="month-select-breakfast">@monthSelectBreakfast</option>
        <option value="month-select-lunch">@monthSelectLunch</option>
        <option value="month-select-dinner">@monthSelectDinner</option>
        <option value="month-select-snacks">@monthSelectSnacks</option>
        <option value="month-select-all-meals">@monthSelectAllMeals</option>

        <!-- Eternity -->
        <option value="eternity-breakfast">@eternityBreakfast</option>
        <option value="eternity-lunch">@eternityLunch</option>
        <option value="eternity-dinner">@eternityDinner</option>
        <option value="eternity-snacks">@eternitySnacks</option>
        <option value="eternity-all-meals">@eternityAllMeals</option>
    </select>
</div>